.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 500px;
    margin: 0 auto;
}

.search input {
    text-align: center;
    width: 400px;
    height: 60px;
    border: 1px solid #000;
    font-family: 'Comic Sans MS', cursive;
    font-size: x-large;
}